In [1]:
import pandas as pd

sales_reciepts = pd.read_csv("the_sales_reciepts.csv")
customer = pd.read_csv("customer.csv")
product = pd.read_csv("product.csv")

In [2]:
Full_coffee_table = pd.merge(sales_reciepts,customer, on='customer_id')
Full_coffee_table = pd.merge(Full_coffee_table,product, on='product_id')

In [3]:
null_values = Full_coffee_table.isnull().any()
print(null_values)
#check for any null values

transaction_id             False
transaction_date           False
transaction_time           False
sales_outlet_id            False
staff_id                   False
customer_id                False
instore_yn                 False
order                      False
line_item_id               False
product_id                 False
quantity                   False
line_item_amount           False
unit_price                 False
promo_item_yn              False
home_store                 False
customer_first-name        False
customer_email             False
customer_since             False
loyalty_card_number        False
birthdate                  False
gender                     False
birth_year                 False
product_group              False
product_category           False
product_type               False
product                    False
product_description        False
unit_of_measure            False
current_wholesale_price    False
current_retail_price       False
tax_exempt_yn              False
promo_yn                   False
new_product_yn             False
dtype: bool

In [4]:
#make table that finds the number of orders per day
def date_to_days(date): 
    date_parts = date.split("-")
    return int(date_parts[2])

orders_by_date = Full_coffee_table.groupby('transaction_date')['transaction_id'].count().reset_index()
orders_by_date = orders_by_date.rename(columns={'transaction_date': 'Date', 'transaction_id': 'Number_of_orders'})
orders_by_date['Day'] = orders_by_date['Date'].apply(date_to_days)
orders_by_date

          Date  Number_of_orders  Day
0   2019-04-01              1657    1
1   2019-04-02              1638    2
2   2019-04-03              1681    3
3   2019-04-04              1590    4
4   2019-04-05              1634    5
5   2019-04-06              1464    6
6   2019-04-07               854    7
7   2019-04-08               889    8
8   2019-04-09               666    9
9   2019-04-10               994   10
10  2019-04-11              1081   11
11  2019-04-12               879   12
12  2019-04-13               951   13
13  2019-04-14               521   14
14  2019-04-15               454   15
15  2019-04-16               421   16
16  2019-04-17               429   17
17  2019-04-18               467   18
18  2019-04-19               482   19
19  2019-04-20               529   20
20  2019-04-21               612   21
21  2019-04-22               542   22
22  2019-04-23               568   23
23  2019-04-24               625   24
24  2019-04-25               544   25
25  2019-04-26               571   26
26  2019-04-27               528   27
27  2019-04-28               791   28
28  2019-04-29               790   29

In [5]:
!pip install dash
!pip install dash-renderer
!pip install plotly

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dash in /usr/local/lib/python3.10/dist-packages (2.9.3)
Requirement already satisfied: Flask>=1.0.4 in /usr/local/lib/python3.10/dist-packages (from dash) (2.2.4)
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.10/dist-packages (from dash) (5.13.1)
Requirement already satisfied: dash-html-components==2.0.0 in /usr/local/lib/python3.10/dist-packages (from dash) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in /usr/local/lib/python3.10/dist-packages (from dash) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in /usr/local/lib/python3.10/dist-packages (from dash) (5.0.0)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from Flask>=1.0.4->dash) (2.3.0)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=1.0.4->dash) (3.1.2)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=1.0.4->dash) (2.1.2)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from Flask>=1.0.4->dash) (8.1.3)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly>=5.0.0->dash) (8.2.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2>=3.0->Flask>=1.0.4->dash) (2.1.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dash-renderer
  Downloading dash_renderer-1.9.1.tar.gz (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 15.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: dash-renderer
  Building wheel for dash-renderer (setup.py) ... done
  Created wheel for dash-renderer: filename=dash_renderer-1.9.1-py3-none-any.whl size=1014851 sha256=2a7d4309fb560b8a47ef9a061d9cd03ea3577901b6b58b5e294d1321d6da57a1
  Stored in directory: /root/.cache/pip/wheels/bd/b7/17/d60d18a7b3420135dfe0ce04d361b396f32b66b75a40471bb6
Successfully built dash-renderer
Installing collected packages: dash-renderer
Successfully installed dash-renderer-1.9.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (5.13.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly) (8.2.2)

In [6]:
import dash
import dash_core_components as dcc
import dash_html_components as html
app = dash.Dash(__name__)

<ipython-input-6-3115294dc04d>:2: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
<ipython-input-6-3115294dc04d>:3: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [7]:
app.layout = html.Div(children=[
    html.H1('Data Visualization'),
    dcc.Graph(id='scatter-plot', figure={
        'data': [
            {'x': orders_by_date['Day'], 'y': orders_by_date['Number_of_orders'], 'mode': 'markers', 'type': 'scatter'}
        ],
        'layout': {
            'title': 'Scatter Plot'
        }
    })
])

In [10]:
if __name__ == '__main__':
    app.run_server(port=8051, debug=True)

Dash is running on http://127.0.0.1:8051/

INFO:dash.dash:Dash is running on http://127.0.0.1:8051/

 * Serving Flask app '__main__'
 * Debug mode: on